* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lavender;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: aquamarine;
    padding: 20px;
    box-sizing: border-box;

}

/*------------
header start
--------------*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profileImage {
    width: 80px;
    height: 90px;
    border: 3px solid white;
    border-radius: 50%;

}

.header-imageDescription {
    padding: 5px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: darkgreen;
}

.header-contact {
    padding-left: 80px;
}

.header-contact p {
    color: teal;
    font-weight: bold;
}

.header-contact a {
    text-decoration: none;
    color: teal;
    font-weight: bold;
    margin-left: 10px;
}

.header-contact a:hover {
    text-decoration: underline;
    color: blue;
}

/*------------
header end
--------------*/

/*------------
clearing div
--------------*/
.clear-div {
    clear: both;
}

/*--------------------------
horizontal rule for header
---------------------------*/
hr {
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
    background-color: black;
}

main {
    width: auto;
    height: auto;
    box-sizing: border-box;
}

/*---------------------
personal section start
-----------------------*/
main #personal-section {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.content {
    width: auto;
    height: auto;
    margin-bottom: 30px;
    overflow: hidden;
}

.left-content {
    width: 30%;
    float: left;
    padding-right: 20px;
}

.right-content {
    width: 65%;
    float: left;
    text-align: justify;
    font-size: 14px;
}

.common-hr {
    border: 1px solid black;
    background-color: black;
    width: 100%;
    margin: 20px auto;
}

/*---------------------
personal section end
-----------------------*/
/* education section start */
.education-section {}

.left-education {
    width: 45%;
    float: left;
}

.right-education {
    width: 45%;
    float: right;
}

/* education section end */

/* footer start */
footer {
    background-color: green;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

footer p {
    color: white;
    margin-top: 20px;

}

/* footer end */